[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
requests-mock = "*"
pytest-cov = "*"

[packages]
requests = "*"
fire = "*"
jsonobject = "*"
jinja2 = "*"
markdown2 = "*"
validators = "*"
pyjwt = "*"
tldextract = "*"

[requires]
python_version = "3.8"

[scripts]
test = "pipenv run pytest -s --cov --cov-config=.coveragerc"
